html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #070808;
  max-width: 100%;
  overflow-x: hidden;
}

.white {
  background-color: white;
}

.black {
  background-color: #070808;
}

.animated_eclipse {
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 160%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  overflow: hidden;
}

.animated_introtext {
  z-index: 2;
  text-align: center;
  margin-top: 40%;
  position: absolute;
  top: -10%;
  left: 50%;
  height: 64em;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
}
.white_text {
  color: white;
}
.black_text {
  color: #070808;
}

header {
  z-index: 5;
  background-color: #070808;
  position: fixed;
  height: 20%;
  min-width: 100%;
  top: 0;
  border-bottom: solid white 1px;
  opacity: 0;
  display: none;
}
.header__menubutton {
  background-color: #070808;
  border: 1px, white, solid;
  color: white;
  height: 48px;
  width: 100px;
  border-radius: 20px;
}

/*Images for scrolleffect after introanimation and landingpage.*/
.bounceball_background {
  min-width: 100%;
  max-width: 100%;

  display: none;
  justify-content: center;
  position: relative;
}

.fullbackground {
  min-width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.animatedballpath {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}

.herotext {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 6em;
  opacity: 0;
}

.animation_herotext {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  text-align: center;
  margin: auto;
  margin-top: 6em;
}

.bounceball_container {
  width: 10em;
  height: 10em;
  background-color: #070808;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.bounceball_animated {
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.clouds {
  min-width: 100%;
  height: 32em;
  position: absolute;
  margin-top: 8em;
}

.cloud {
  transform: translate(-50%, -50%);
  width: 60em;
  position: absolute;
}

.cloud_upper {
  left: 50%;
  top: 70%;
  z-index: 1;
}
.cloud_left {
  left: 30%;
  top: 90%;
  z-index: 3;
}
.cloud_right {
  left: 70%;
  top: 90%;
  z-index: 3;
}

.cloud_lower {
  left: 50%;
  top: 100%;
  z-index: 4;
}

.parallax_text {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  z-index: 2;
  top: 50%;
  font-size: 16rem;
}

.random_fill {
  background-color: white;
  height: 40em;
  width: 100%;
}

.smileyfaces {
  margin-top: 48em;
}

#face2,
#face3 {
  visibility: hidden;
}

svg {
  display: block;
}

#head1,
#head2,
#lefteye1,
#lefteye2,
#righteye1,
#righteye2,
#mouth1,
#mouth2 {
  visibility: hidden;
}
