html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #070808;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.white {
  background-color: white;
}

.black {
  background-color: #070808;
}

.animated_eclipse {
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 160%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  overflow: hidden;
}

.animated_introtext {
  z-index: 2;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  margin-top: 40%;
  position: absolute;
  top: -10%;
  left: 50%;
  height: 64em;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 1;
}
.white_text {
  color: white;
}
.black_text {
  color: #070808;
}

header {
  z-index: 5;
  background-color: #070808;
  position: fixed;
  height: 5em;
  min-width: 100%;
  top: 0;
  border-bottom: solid white 1px;
  opacity: 0;
  display: none;
}
.header__menubutton {
  background-color: #070808;
  border: 1px, white, solid;
  color: white;
  height: 4em;
  width: 4em;
  position: relative;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

/*Images for scrolleffect after introanimation and landingpage.*/

.herotext {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 3em;
  opacity: 0;
}

#head2_introanimation,
#head3_introanimation,
#mouth2_introanimation,
#mouth3_introanimation,
#middleeye_introanimation,
#middlepupil_introanimation,
#rightcheek_introanimation,
#leftcheek_introanimation,
#lefteyebrow_introanimation,
#righteyebrow_introanimation,
#righteye2_introanimation,
#lefteye2_introanimation {
  visibility: hidden;
}

.animation_herotext {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  text-align: center;
  margin: auto;
}

.bounceball_container {
  width: 10em;
  height: 10em;
  background-color: #070808;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.bounceball_animated {
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.clouds {
  min-width: 100%;
  height: 100vh;
  position: absolute;
  margin-top: 8em;
}

.cloud {
  transform: translate(-50%, -50%);
  width: 60em;
  position: absolute;
}

.cloud_upper {
  left: 50%;
  top: 60%;
  z-index: 1;
}
.cloud_left {
  left: 30%;
  top: 80%;
  z-index: 3;
}
.cloud_right {
  left: 70%;
  top: 80%;
  z-index: 3;
}

.cloud_lower {
  left: 50%;
  top: 90%;
  z-index: 4;
}

.parallax_text {
  text-align: center;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  z-index: 2;
  top: 60%;
  font-size: 16rem;
}

.morphing_text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16rem;
  margin-top: -0.5em;
}

.smileyfaces {
  margin-top: 64em;
  height: 100vh;
}

#face2,
#face3 {
  visibility: hidden;
}

svg {
  display: block;
}

#lefteye1,
#head1,
#head2,
#lefteye2,
#righteye1,
#righteye2,
#mouth1,
#mouth2,
#happyeyeleft,
#happyeyeright,
#happymouth {
  visibility: hidden;
}

.fade_section {
  height: 100vh;
  min-width: 100%;
  margin-top: 32em;
}

.fading_eclipse {
  border-radius: 50%;
  background-color: #070808;
  border: solid 1px white;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.small_eclipse_right {
  height: 12em;
  width: 12em;
  left: 70%;
  display: block;
}
.small_eclipse_left {
  height: 12em;
  width: 12em;
  left: 30%;
  display: block;
}

.small_eclipse_mid {
  height: 12em;
  width: 12em;
  left: 50%;
  display: block;
}

.large_eclipse_left {
  height: 32em;
  width: 32em;
  left: 30%;
  display: block;
}
.large_eclipse_right {
  height: 32em;
  width: 32em;
  left: 70%;
  display: block;
}
.large_eclipse_mid {
  height: 32em;
  width: 32em;
  left: 50%;
  display: block;
}
.tiny_eclipse_left {
  height: 8em;
  width: 8em;
  left: 30%;
  display: block;
}
.tiny_eclipse_mid {
  height: 8em;
  width: 8em;
  left: 50%;
  display: block;
}
.tiny_eclipse_right {
  height: 8em;
  width: 8em;
  left: 70%;
  display: block;
}

.fading_text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16rem;
  margin-top: 0%;
}

.particle_effect {
  margin-top: -40em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #070808;
}

.particle {
  height: 1em;
  width: 1em;
  position: relative;
  background-color: white;

  border-radius: 50%;
  z-index: 2;
}
.particle_text {
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16rem;
  z-index: 1;
}

.scroll_container {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
}

.branding_container {
  background-color: white;
  position: relative;
  width: 400vw; /* Increase this if you have more cards */
  display: flex; /* Use flex to lay out children horizontally */
  height: 100vh;
}
.branding_intro_content,
.branding_2nd_content,
.branding_3rd_content,
.branding_4th_content {
  height: 100vh;
  width: 100vw; /* set to viewport width instead of container width */
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding_header {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16rem;
  margin-top: 0%;
}

.branding_2nd_header {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 12rem;
  top: 10%;
}
.branding_3rd_header {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 12rem;
  top: 10%;
}
.branding_4th_header {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 12rem;
  margin-top: 2em;
}
.branding_text {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}
.branding_2nd_text {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  margin-top: 6em;
  margin-left: 2em;
  margin-right: 2em;
}
.branding_3rd_text {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  margin-top: 6em;
  margin-left: 2em;
  margin-right: 2em;
}

.branding_4th_text {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  margin-top: 6em;
  margin-left: 2em;
  margin-right: 2em;
}

.bakersgoodsSVG {
  max-width: 20em;
}

.vinylSVG {
  max-width: 20em;
}
.planksSVG {
  margin-top: 15%;
  max-width: 30em;
}

.vertical_section {
  min-height: 100vh;
  /* Other styling as needed */
}
.contact_me_header {
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 12rem;
  margin-top: 12%;
}

.contact_me_text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2em;
}

.contact_me_email {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  text-align: center;
  max-width: 80%;
  margin: auto;
  margin-top: -2em;
  margin-bottom: 2em;
  opacity: 0;
}
